
@font-face {font-family: "iconfont3";
  /*src: url('iconfont.eot?t=1494404088367'); /* IE9*/
  /*src: url('iconfont.eot?t=1494404088367#iefix') format('embedded-opentype'), /* IE6-IE8 */
  /*url('iconfont.woff?t=1494404088367') format('woff'), /* chrome, firefox */
  src:url('../fonts/iconfont3.ttf') format('truetype'); /* chrome、firefox、opera、Safari,  Android, iOS 4.2+*/
 /* url('iconfont.svg?t=1494404088367#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont3" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}