<!doctype html>
<html style="height:100%">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont2.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont3.css" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			/*.text1111 {
				font-family: "宋体";
				font-size: 12px;
				line-height: 100px;
				text-align: center;
				width: 100px;
				height: 100px;
				vertical-align: middle;
				border: 1px solid black;
			}*/
			
			.center {
				position: relative;
				top: 50%;
				/*left: 50%;*/
				text-align: center;
				/*background:#393;
				color:#fff;*/
				transform: translate(-50%, -50%);
			}
			
			.paragraph {
				text-indent: 2em;
				letter-spacing: 3px;
				font-size: 19px;
				color: white;
				font-family: iconfont1;
				line-height: 25px;
			}
			
			::-webkit-scrollbar {
				width: 0;
			}
			
			.picture {
				text-align: center;
				width: 100%;
			}
			
			.picture img {
				max-width: 100%;
			}
			
			#moocBox {
				height: 80%;
				width: 100%;
				/*margin-left: 25px;
				margin-top: 10px;*/
				overflow: scroll;
			}
			
			#moocBox1 {
				height: 80%;
				width: 100%;
				/*margin-left: 25px;
				margin-top: 10px;*/
				overflow: scroll;
			}
			
			h4 {
				display: block;
				-webkit-margin-before: 1.33em;
				-webkit-margin-after: 1.33em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
				font-weight: bold;
				text-align: center;
			}
			
			* {
				margin: 0;
				padding: 0;
			}
			
			.mui-table-view-cell::after {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 15px;
				height: 0px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #c8c7cc;
			}
			
			#classCommittee {
				position: relative;
				width: 100%;
				border: 0px solid #0ff;
				width: 100%;
				height: 230px;
				margin: 10px auto 0;
				overflow-x: scroll;
				overflow-y: hidden;
			}
			
			#classCommittee ul {
				width: 100%;
				position: absolute;
				left: 0;
			}
			
			#classCommittee ul li {
				list-style: none;
				width: 245px;
				float: left;
				padding: 10px;
				height: 160px;
			}
			
			#classCommittee ul li img {
				width: 100%;
				align: center;
				text-align: center；
			}
			
			#teacherClass {
				position: relative;
				width: 100%;
				border: 0px solid #0ff;
				width: 100%;
				height: 280px;
				margin: 10px auto 0;
				overflow-x: scroll;
				overflow-y: hidden;
			}
			
			#teacherClass ul {
				width: 100%;
				position: absolute;
				left: 0;
			}
			
			#teacherClass ul li {
				list-style: none;
				width: 245px;
				float: left;
				padding: 10px;
				height: 100px;
			}
			
			#teacherClass ul li img {
				width: 100%;
				align: center;
				text-align: center；
			}
			
			.aligncenter {
				clear: both;
				display: block;
				margin: auto;
			}
			
			.alignleft {
				display: inline;
				float: left;
				margin-top: 3%;
			}
			
			.alignleft1 {
				display: inline;
				float: left;
				margin-top: 5%;
				margin-left: 20px
			}
			
			.alignleft2 {
				display: inline;
				float: left;
				margin-top: 7%;
				margin-left: 20px
			}
			
			.alignleft3 {
				display: inline;
				float: left;
				margin-top: 7%;
				margin-left: 20px
			}
			
			.alignright {
				display: inline;
				float: right;
				margin-top: 8%;
				margin-right: 50px;
			}
			
			.twoLineShow {
				overflow: hidden;
				/*overflow-x: scroll;
				overflow-y: hidden;*/
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 20px;
			}
			
			.fontContent {
				font-family: iconfont1;
			}
			
			.fontTitle {
				font-family: iconfont3;
				font-weight: 900;
			}
			
			.fontTitle1 {
				font-family: iconfont3;
				font-weight: 900;
			}
		</style>
	</head>

	<body style="height:100%;">
		<div class="mui-content" style="height: 100%;background: linear-gradient(to bottom, #41bc10, #ffc048);" id="classCardMsg">
			<div v-cloak style="height: 12%;width: 100%;">
				<!--头像、学校、年级、班级信息-->
				<div class="" style="float:left;height: 100%;width: 60%;">
					<img v-if="cardMsgList1.chname" class="alignleft" src="../../img/tianqi1.jpg" style="height: 70px;width: 70px;border-radius: 50%;object-fit: cover;margin-left: 7%;float: left;">
					<div v-if="cardMsgList1.chname" class="alignleft1" style="float: left;">
						<p class="mui-pull-left fontTitle1" style="font-size: 50px;color: #fff;font-weight: 900;">{{cardMsgList1.schname}} {{cardMsgList1.gradename}} {{cardMsgList1.classname}}</p>
					</div>
				</div>
				<!--时间-->
				<div class="" style="float:left;height: 100%;width: 40%;">
					<p class="alignright fontTitle" style="font-size: 24px;color: #fff;height: 100%;">{{timeModel.yearStr}} {{timeModel.weekStr}} {{timeModel.hoursStr}}</p>
				</div>
			</div>
			<div v-cloak style="height: 85%;width: 100%;">
				<div class="" style="float:left;height: 100%;width: 2%;"></div>

				<div v-cloak class="" style="float:left;height: 100%;width: 24%;">
					<!--简介-->
					<div v-cloak style="height: 60%;width: 100%;border-radius: 12px;background: url(../../img/page1/banjijianjie.png);background-attachment: fixed;background-repeat: no-repeat;">
						<p v-if="cardMsgList1.chname" class="fontTitle" style="font-size: 22px;color: white;height: 50px;border-radius: 12px 12px 0px 0px;background: #19a4a5;text-align: left;padding-top: 12px;padding-left: 20px;">{{cardMsgList1.chname}}</p>
						<div v-cloak v-if="cardMsgList1.newslist&&cardMsgList1.newslist.length>0" id="moocBox1" style="height: 80%;">
							<div id="con11">
								<div @click="clickLi(cardMsgList1.newslist[0])" style="padding: 10px;" v-html="cardMsgList1.newslist[0].content"></div>
							</div>
							<div id="con21" v-if="cardMsgList1.newslist[0].content.length>100">
							</div>
						</div>
					</div>
					<div style="height: 1%;width: 100%;"></div>
					<!--班委介绍-->
					<div v-cloak style="height: 39%;width: 100%;border-radius: 12px;background: url(../../img/page1/banweijieshao.png);">
						<p v-if="cardMsgList3.chname" class="fontTitle" style="font-size: 22px;color: white;height: 50px;border-radius: 12px 12px 0px 0px;background: #29cbc7;text-align: left;padding-top: 12px;padding-left: 20px;">{{cardMsgList3.chname}}</p>
						<div v-if="cardMsgList3.newslist&&cardMsgList3.newslist.length>0" id="classCommittee" style="width: 100%;height: 80%;">
							<ul class="" style="width: 100%;height: 100%;margin-top: 30px;overflow-x: scroll;overflow-y: hidden;">
								<li @click="clickLi(cardModel)" class="" style="border: 0px;" v-for="(cardModel,index) in cardMsgList3.newslist">
									<img class="aligncenter" style="width: 120px;height: 120px;border-radius: 50%;object-fit: cover;" :src=cardModel.imgurl>
									<div class="mui-media-body twoLineShow fontContent" style="color: #fff;text-align: center;margin-top: 20px;">{{cardModel.topic}}</div>
								</li>
								<div style="clear: none;"></div>
								<li @click="clickLi(cardModel)" class="" style="border: 0px;" v-for="(cardModel,index) in cardMsgList3.newslist">
									<img class="aligncenter" style="width: 120px;height: 120px;border-radius: 50%;object-fit: cover!important;" :src=cardModel.imgurl>
									<div class="mui-media-body twoLineShow fontContent" style="color: #fff;text-align: center;margin-top: 20px;">{{cardModel.topic}}</div>
								</li>
								<div style="clear: none;"></div>
							</ul>
							<ul id="con3">
							</ul>
						</div>
					</div>
				</div>
				<div class="" style="float:left;height: 100%;width: 0.5%;"></div>
				<div class="" style="float:left;height: 100%;width: 47%;">
					<!--老师风采-->
					<div v-cloak style="height: 39%;width: 100%;border-radius: 12px;background-image: url(../../img/page1/laoshifengcai.png);background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">
						<div style="text-align: center;height: 8%;width: 100%;">
							<img src="../../img/page1/biaoti.png" style="margin: -22px 0 0;width: 300px;" />
						</div>
						<div class="fontTitle" style="height: 8%;text-align: center;width: 100%;color: white;font-size: 25px;margin-top: -18px;">{{cardMsgList2.chname}}</div>
						<div id="teacherClass" style="" v-if="cardMsgList2.newslist&&cardMsgList2.newslist.length>0">
							<ul style="margin-top: 20px;" style="overflow-x: scroll;overflow-y: hidden;">
								<li @click="clickLi(cardModel)" class="" style="border: 0px;" v-for="(cardModel,index) in cardMsgList2.newslist">
									<a href="#">
										<img class="aligncenter" style="width: 160px;height: 160px;border-radius: 50%;object-fit: cover;text-align:center;" :src=cardModel.imgurl>
										<div class="mui-media-body twoLineShow fontContent" style="color: #fff;text-align: center;margin-top: 10px;">{{cardModel.topic}}</div>
									</a>
								</li>
								<div style="clear: none;"></div>
								<li @click="clickLi(cardModel)" class="" style="border: 0px;" v-for="(cardModel,index) in cardMsgList2.newslist">
									<a href="#">
										<img class="aligncenter" style="width: 160px;height: 160px;border-radius: 50%;object-fit: cover;text-align:center;" :src=cardModel.imgurl>
										<div class="mui-media-body twoLineShow fontContent" style="color: #fff;text-align: center;margin-top: 10px;">{{cardModel.topic}}</div>
									</a>
								</li>
								<div style="clear: none;"></div>
							</ul>
						</div>
					</div>
					<div style="height: 1%;width: 100%;"></div>
					<!--荣誉-->
					<div v-cloak class="rongyuSumClass" style="height: 60%;width: 100%;border-radius: 12px;">
						<p v-if="cardMsgList6.chname" class="fontTitle" style="font-size: 22px;color: white;height: 50px;border-radius: 12px 12px 0px 0px;background: #f2a322;text-align: left;padding-top: 12px;padding-left: 20px;opacity:0.8;">{{cardMsgList6.chname}}</p>
						<ul v-if="cardMsgList6.chname" class="mui-table-view mui-grid-view mui-grid-9 rongyuClass" style="border: 0px;margin-top: -10px;width: 100%;height: 100%;border-radius: 0px 0px 12px 12px;background: url(../../img/page1/rongyu.png);">
							<li @click="clickLi(cardModel)" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: 0px;border-radius: 12px;height: 50%;" v-for="(cardModel,index) in cardMsgList6.newslist">
								<a href="#">
									<img class="mui-icon" style="width: 100%;height: 245px;border-radius: 5px;object-fit: cover;" :src=cardModel.imgurl />
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="" style="float:left;height: 100%;width: 0.5%;"></div>
				<div class="" style="float:left;height: 100%;width: 24%;">
					<!--天气情况-->
					<div v-cloak style="height: 20%;width: 100%;">
						<div style="float:left;height: 100%;width: 79%;border-radius: 12px;background: #1ab4ab;">
							<img v-if="weatherModel.shidu" class="alignleft2" :src=weatherModel.backgroundImg style="height: 120px;width: 120px;border-radius: 50%;object-fit: cover;float: left;">
							<div v-if="weatherModel.shidu" class="alignleft3" style="float: left;">
								<p class="fontTitle" style="font-size: 25px;color: #fff;text-align: left;">{{weatherModel.city}}</p>
								<p class="fontTitle" style="font-size: 20px;color: #fff;text-align: left;">温度：{{weatherModel.forecast.weather[0].low.slice(3)}}~{{weatherModel.forecast.weather[0].high.slice(3)}}</p>
								<p class="fontTitle" style="font-size: 20px;color: #fff;text-align: left;">天气：{{weatherModel.forecast.weather[0].day.type}}</p>
								<p class="fontTitle" style="font-size: 20px;color: #fff;text-align: left;">湿度：{{weatherModel.shidu}}</p>
							</div>
						</div>
						<div style="float:left;height: 100%;width: 2%;"></div>
						<div @click="schoolTimetable()" style="float:left;height: 100%;width: 19%;border-radius: 12px;background: #1ab4ab;text-align: center;display: flex;vertical-align: middle;">
							<p style="text-align: center;font-size: 30px;width: 40px;top: 50%;left:50%;margin: auto;line-height: 1.1;color: white;">课程表</p>
						</div>
					</div>
					<div style="height: 1%;width: 100%;"></div>
					<!--活动-->
					<div v-cloak style="height: 39%;width: 100%;">
						<div v-cloak v-if="cardMsgList4.newslist&&cardMsgList4.newslist.length>0" id="slider1" class="mui-slider" style="height: 100%;">
							<div class="mui-slider-group mui-slider-loop" style="height: 100%;">
								<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
								<div v-if="index==cardMsgList4.newslist.length-1" class="mui-slider-item mui-slider-item-duplicate" v-for="(newModel,index) in cardMsgList4.newslist">
									<a href="#" style="height: 100%;">
										<img :src=newModel.imgurl style="height: 100%;object-fit: cover;border-radius: 12px;">
										<p v-if="newModel.imgFlag ==1" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">(视频){{newModel.topic}}</p>
										<p v-else="" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">{{newModel.topic}}</p>
									</a>
								</div>
								<div @click="clickLi(newModel)" class="mui-slider-item" style="height: 100%;" v-for="(newModel,index) in cardMsgList4.newslist">
									<a href="#" style="height: 100%;">
										<img style="height: 100%;object-fit: cover;border-radius: 12px;-moz-box-shadow: 200px 200px 10px green;-webkit-box-shadow: 200px 200px 10px green;box-shadow:200px 200px 10px green;" :src=newModel.imgurl>
										<p v-if="newModel.imgFlag ==1" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">(视频){{newModel.topic}}</p>
										<p v-else="" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">{{newModel.topic}}</p>
									</a>
								</div>
								<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
								<div v-if="index==0" class="mui-slider-item mui-slider-item-duplicate" v-for="(newModel,index) in cardMsgList4.newslist">
									<a href="#" style="height: 100%;">
										<img :src=newModel.imgurl style="height: 100%;object-fit: cover;border-radius: 12px;">
										<p v-if="newModel.imgFlag ==1" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">(视频){{newModel.topic}}</p>
										<p v-else="" class="mui-slider-title fontTitle" style="border-radius: 0px 0px 12px 12px;">{{newModel.topic}}</p>
									</a>
								</div>
							</div>
							<div class="mui-slider-indicator">
								<div :class="index==0?'mui-indicator mui-active':'mui-indicator'" v-for="(newModel,index) in cardMsgList4.newslist"></div>
							</div>
						</div>
					</div>
					<div style="height: 1%;width: 100%;"></div>
					<!--通知通告-->
					<div v-cloak class="tongzhiClassSum" style="height: 39%;width: 100%;border-radius: 12px;background: url(../../img/page1/tongzhigonggao.png);">
						<p class="fontTitle" v-if="cardMsgList5.chname" id="moocTitle" style="font-size: 22px;color: white;border-radius: 12px 12px 0px 0px;height: 50px;background: #28bfbc;text-align: left;padding-top: 12px;padding-left: 20px;">{{cardMsgList5.chname}}</p>
						<div v-if="cardMsgList5.chname" id="moocBox" class="tongzhiClass">
							<ul id="con1">
								<li @click="clickLi(newModel)" v-for="(newModel,index) in cardMsgList5.newslist">
									<h4 class="fontTitle" style="padding: 10px;">{{newModel.topic}}</h4>
									<div v-if="index==0" style="padding: 10px;" v-html="newModel.content"></div>
								</li>
							</ul>
							<ul id="con2">
							</ul>
						</div>
					</div>
				</div>
				<div class="" style="float:left;height: 100%;width: 2%;"></div>
			</div>
			<div style="height: 3%;width: 100%;"></div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-1.8.3.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="../../js/json2xml.js"></script>
		<script type="text/javascript" src="../../js/xml2json.js"></script>

		<script src='../../js/utils/vue.min.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/lib/vconsole/vconsole.min.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script type="text/javascript" defer="defer">
			mui.init();
			var grdId = 20;
			var clsId = 24;
			var cityName = '';
			var myScroll1;
			var myScroll2;
			var myScroll3;
			var myScroll4;

			function scrollUp() {
				var area = document.getElementById('moocBox');
				var con1 = document.getElementById('con1');
				var con2 = document.getElementById('con2');
				if(area.scrollTop >= con1.scrollHeight) {
					area.scrollTop = 0;
					window.clearInterval(myScroll1);
					var areaA = document.getElementById('moocBox1');
					var con1A = document.getElementById('con11');
					var con2A = document.getElementById('con21');
					areaA.scrollTop = 0;
					con2A.innerHTML = con1A.innerHTML;
					window.clearInterval(myScroll2);
					myScroll2 = setInterval("scrollUp1()", 50);
				} else {
					area.scrollTop++; //向上滚动
				}
			}

			function scrollUp1() {
				var area = document.getElementById('moocBox1');
				var con1 = document.getElementById('con11');
				var con2 = document.getElementById('con21');
				if(area.scrollTop >= con1.scrollHeight) {
					area.scrollTop = 0;
					window.clearInterval(myScroll2);
					var areaA = document.getElementById('moocBox');
					var con1A = document.getElementById('con1');
					var con2A = document.getElementById('con2');
					areaA.scrollTop = 0;
					con2A.innerHTML = con1A.innerHTML;
					window.clearInterval(myScroll1);
					myScroll1 = setInterval("scrollUp()", 50);
				} else {
					area.scrollTop++; //向上滚动
				}
			}

			window.onload = function() {

				var publicPar = store.get(window.storageKeyName.PUBLICPARAMETER);
				// console.log('publicPar.cityName:' + publicPar.cityName);
				var tempUrl = 'http://wthrcdn.etouch.cn/WeatherApi?city=' + publicPar.cityName;
				$.ajax({
					url: tempUrl,
					data: "",
					dataType: "xml",
					success: function(data) {
						var json_obj = $.xml2json(data);
						var tempType = json_obj.forecast.weather[0].day.type;
						json_obj.backgroundImg = '../../img/tianqi1.jpg';
						if(tempType.indexOf("多云") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/多云.png';
						} else if(tempType.indexOf("大雨") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/大雨.png';
						} else if(tempType.indexOf("雷阵雨") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/雷阵雨.png';
						} else if(tempType.indexOf("小雨") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/小雨.png';
						} else if(tempType.indexOf("雨夹雪") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/雨夹雪.png';
						} else if(tempType.indexOf("阵雪") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/阵雪.png';
						} else if(tempType.indexOf("阵雨") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/阵雨.png';
						} else if(tempType.indexOf("中雨") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/中雨.png';
						} else if(tempType.indexOf("晴") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/晴天.png';
						} else if(tempType.indexOf("雪") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/雪.png';
						} else if(tempType.indexOf("阴") > -1) {
							json_obj.backgroundImg = '../../img/天气图标/阴.png';
						}
						// console.log('json_obj:' + JSON.stringify(json_obj));
						classCardMsg.weatherModel = json_obj;
					}
				});
				setInterval("getTime()", 1000);
				// 0文章列表,1带图片的文章列表,2带详情
				getlist(2, 1, 1, 1); //
				getlist(1, 2, 6, 2);
				getlist(1, 3, 6, 3);
				getlist(1, 4, 5, 4);
				getlist(2, 5, 5, 5);
				getlist(1, 6, 6, 6);
				setInterval(function() {
					getlist(2, 1, 1, 1); //简介
					getlist(1, 2, 6, 2); //老师
					getlist(1, 3, 6, 3); //班委
					getlist(1, 4, 5, 4); //活动
					getlist(2, 5, 5, 5); //通知
					getlist(1, 6, 6, 6); //荣誉
				}, 1000 * 60*60);
			}
			//flag,文章种类，0文章列表,1带图片的文章列表,2带详情
			//chncode,栏目代码，后台栏目定义的代码
			//pageSize,每页条数
			function getlist(flag, chncode, pageSize, tempFlag) {
				var publicPar = store.get(window.storageKeyName.PUBLICPARAMETER);
				// console.log('publicPar:' + JSON.stringify(publicPar));
				var personal = store.get(window.storageKeyName.PERSONALINFO);
				// console.log('personal0002:' + JSON.stringify(personal));
				var newsType;
				if(publicPar.blandlv == 0) { //0是班级班牌
					if(tempFlag == 1 || tempFlag == 2 || tempFlag == 3 || tempFlag == 6) {
						newsType = 0;
					} else {
						newsType = 2;
					}
				} else if(publicPar.blandlv == 1) { //1是年级牌
					if(tempFlag == 1 || tempFlag == 2 || tempFlag == 3 || tempFlag == 6) {
						newsType = 1;
					} else {
						newsType = 2;
					}
				} else if(publicPar.blandlv == 2) { //2是学校牌
					if(tempFlag == 1 || tempFlag == 2 || tempFlag == 3 || tempFlag == 6) {
						newsType = 2;
					} else {
						newsType = 2;
					}
				}
				//握手
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					// uuid: publicPar.uuid, //用户设备号
					newstype: flag, //文章种类，0文章列表,1带图片的文章列表,2带详情
					chncode: chncode, //栏目代码，后台栏目定义的代码
					blandid: publicPar.blandid, //班牌对应ID，根据班牌类型填写,学校的填写学校ID,年级牌,填写年级ID,班级牌填写班级ID
					blandlv: publicPar.blandlv, //班牌类型，0是班级班牌,1是年级牌,2是学校牌,控制blandid的值指向
					//					blandid: 20, //班牌对应ID，根据班牌类型填写,学校的填写学校ID,年级牌,填写年级ID,班级牌填写班级ID
					//					blandlv: 1, //班牌类型，0是班级班牌,1是年级牌,2是学校牌,控制blandid的值指向
					psize: pageSize, //每页条数
					pindex: 1, //页码
					newslv: newsType, //文章层级，文章层级,0获取blandlv对应的本层级的文章,1获取向上级别的文章(如年级牌只获取该年级的及学校级别的文章),2获取关联范围的所有文章(如年级,则获取该年级下所有班级及学校级别的及本年级的)
					// utoken: personal.utoken, //用户令牌
					// appid: publicPar.appid //系统所分配的应用ID
				};
				//			events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry(window.storageKeyName.INTERFACE_BANPAI+'api/webSchNews/ClassNewsList', enData0, comData0, 1, function(data) {
					console.log('111111tempFlag:'+tempFlag+':'+JSON.stringify(data));
					if(data.code == 0) {
						if(tempFlag == 5) {
							// console.log('1111111111111111111');
							if(JSON.stringify(classCardMsg.cardMsgList5) == JSON.stringify(data.data)) {

							} else {
								classCardMsg.cardMsgList5 = data.data;
								//								console.log('classCardMsg.cardMsgList5:' + JSON.stringify(classCardMsg.cardMsgList5));
								setTimeout(function() {
									$('.tongzhiClass').height($('.tongzhiClassSum').height() - 50 - 20);
									var area = document.getElementById('moocBox');
									//								var con1 = document.getElementById('con1');
									//								var con2 = document.getElementById('con2');
									area.scrollTop = 0;
									//								con2.innerHTML = con1.innerHTML;
									//								window.clearInterval(myScroll1);
									//								myScroll1 = setInterval("scrollUp()", 50);
								}, 300);
							}
						} else if(tempFlag == 4) {
							for(var i = 0; i < data.data.newslist.length; i++) {
								var tempModel = data.data.newslist[i];
								//判断是否为视频连接
								if(tempModel.imgurl.indexOf('vframe/jpg/offset') != -1) {
									tempModel.imgFlag = 1;
									//修改照片尺寸
									tempModel.imgurl = tempModel.imgurl + '/w/150/h/150/q/75/format/png';
								} else {
									tempModel.imgFlag = 0;
									//修改照片尺寸
									tempModel.imgurl = tempModel.imgurl.split('?')[0];
									tempModel.imgurl = tempModel.imgurl + '?imageView2/3/w/150/h/150/q/75/format/png';
								}
							}
							if(JSON.stringify(classCardMsg.cardMsgList4) == JSON.stringify(data.data)) {

							} else {
								classCardMsg.cardMsgList4 = data.data;
								// console.log('classCardMsg.cardMsgList4:' + JSON.stringify(classCardMsg.cardMsgList4));
								setTimeout(function() {
									var slider1 = mui("#slider1");
									slider1.slider({
										interval: 5000
									});
								}, 300);
							}
						} else if(tempFlag == 1) {
							if(JSON.stringify(classCardMsg.cardMsgList1) == JSON.stringify(data.data)) {

							} else {
								classCardMsg.cardMsgList1 = data.data;
								if(data.data.newslist.length>0){
									setTimeout(function() {
										var area = document.getElementById('moocBox1');
										console.log('area:'+area);
										var con1 = document.getElementById('con11');
										var con2 = document.getElementById('con21');
										var speed = 50;
										area.scrollTop = 0;
										con2.innerHTML = con1.innerHTML;
										window.clearInterval(myScroll2);
										myScroll2 = setInterval("scrollUp1()", speed);
									}, 300);
								}
							}
						} else if(tempFlag == 2) {
							if(JSON.stringify(classCardMsg.cardMsgList2) == JSON.stringify(data.data)) {

							} else {
								for(var i = 0; i < data.data.newslist.length; i++) {
									var tempModel = data.data.newslist[i];
									tempModel.imgurl = tempModel.imgurl.split('?')[0];
									tempModel.imgurl = tempModel.imgurl + '?imageView2/3/w/150/h/150/q/75/format/png';
								}
								classCardMsg.cardMsgList2 = data.data;
								setTimeout(function() {
									var oDiv = document.getElementById('teacherClass');
									var oUl = oDiv.getElementsByTagName('ul')[0];
									var aLi = oUl.getElementsByTagName('li');
									var iSpeed = -1;
									//								oUl.innerHTML += oUl.innerHTML; //定义图片可以循环播放
									oUl.style.width = aLi.length * aLi[0].offsetWidth + 'px'; //定义外层ul的宽度，根据图片的个数和每个图片的宽度计算，保证总宽度是可调整的
									function fnMove0() {
										if(oUl.offsetLeft < -oUl.offsetWidth / 2) {
											oUl.style.left = 0;
										} else if(oUl.offsetLeft > 0) {
											oUl.style.left = -oUl.offsetWidth / 2 + 'px';
										} //定义到边界的时候，实现无缝衔接
										oUl.style.left = oUl.offsetLeft + iSpeed + 'px';
										//定义图片的右边距随着速度不断不断增加，或减小，实现运动的效果
									}
									window.clearInterval(myScroll3);
									myScroll3 = setInterval(fnMove0, 50);
								}, 300);
							}
						} else if(tempFlag == 3) {
							if(JSON.stringify(classCardMsg.cardMsgList3) == JSON.stringify(data.data)) {

							} else {
								for(var i = 0; i < data.data.newslist.length; i++) {
									var tempModel = data.data.newslist[i];
									tempModel.imgurl = tempModel.imgurl.split('?')[0];
									tempModel.imgurl = tempModel.imgurl + '?imageView2/3/w/150/h/150/q/75/format/png';
								}
								classCardMsg.cardMsgList3 = data.data;
								if(data.data.newslist.length>0){
									setTimeout(function() {
										var oDiv = document.getElementById('classCommittee');
										var oUl = oDiv.getElementsByTagName('ul')[0];
										var aLi = oUl.getElementsByTagName('li');
										var iSpeed = -1;
										oUl.style.width = aLi.length * aLi[0].offsetWidth + 'px'; //定义外层ul的宽度，根据图片的个数和每个图片的宽度计算，保证总宽度是可调整的
										function fnMove1() {
											if(oUl.offsetLeft < -oUl.offsetWidth / 2) {
												oUl.style.left = 0;
											} else if(oUl.offsetLeft > 0) {
												oUl.style.left = -oUl.offsetWidth / 2 + 'px';
											} //定义到边界的时候，实现无缝衔接
											oUl.style.left = oUl.offsetLeft + iSpeed + 'px';
											//定义图片的右边距随着速度不断不断增加，或减小，实现运动的效果
										}
										window.clearInterval(myScroll4);
										myScroll4 = setInterval(fnMove1, 50);
									}, 300);
								}
							}
						} else if(tempFlag == 6) {
							if(JSON.stringify(classCardMsg.cardMsgList6) == JSON.stringify(data.data)) {

							} else {
								for(var i = 0; i < data.data.newslist.length; i++) {
									var tempModel = data.data.newslist[i];
									tempModel.imgurl = tempModel.imgurl.split('?')[0];
									tempModel.imgurl = tempModel.imgurl + '?imageView2/3/w/150/h/150/q/75/format/png';
								}
								classCardMsg.cardMsgList6 = data.data;
								setTimeout(function() {
									$('.rongyuClass').height($('.rongyuSumClass').height() - 50);
								}, 300);
							}
						}
					} else {

					}
				});
			}
			var classCardMsg = new Vue({
				el: "#classCardMsg",
				data: {
					cardMsgList1: {},
					cardMsgList2: {},
					cardMsgList3: {},
					cardMsgList4: {},
					cardMsgList5: {},
					cardMsgList6: {},
					weatherModel: {},
					timeModel: {}
				},
				methods: {
					clickLi: function(model) {
						// console.log('model:' + model.content);
						model.content = '';
						// console.log('model:' + JSON.stringify(model));
						if(model.chncode == 2 || model.chncode == 3) {
							utils.mOpenWithData("../../html/index/listDetailImg1.html", model);
						} else {
							utils.mOpenWithData("../../html/index/listDetail1.html", model);
						}
					},
					schoolTimetable: function() {
						var publicPar = store.get(window.storageKeyName.PUBLICPARAMETER);
						var tmpM = {
							chncode: 7,
							chnid: publicPar.blandid,
							newsid: -1,
							lv: publicPar.blandlv
						}
						utils.mOpenWithData("../../html/index/listDetail1.html", tmpM);
					}
				}
			});

			function getTime() {
				var date = new Date(); //创建对象  
				var y = date.getFullYear(); //获取年份  
				var m = date.getMonth() + 1; //获取月份  返回0-11  
				var d = date.getDate(); // 获取日  
				var w = date.getDay(); //获取星期几  返回0-6   (0=星期天) 
				var ww = ' 星期' + '日一二三四五六'.charAt(new Date().getDay()); //星期几
				var h = date.getHours(); //时
				var minute = date.getMinutes() //分
				var s = date.getSeconds(); //秒
				var sss = date.getMilliseconds(); //毫秒
				if(m < 10) {
					m = "0" + m;
				}
				if(d < 10) {
					d = "0" + d;
				}
				if(h < 10) {
					h = "0" + h;
				}

				if(minute < 10) {
					minute = "0" + minute;
				}

				if(s < 10) {
					s = "0" + s;
				}

				if(sss < 10) {
					sss = "00" + sss;
				} else if(sss < 100) {
					sss = "0" + sss;
				}
				var tmpModel = {
					yearStr: y + "年" + m + "月" + d + "日",
					weekStr: ww,
					hoursStr: h + ":" + minute + ":" + s
				}
				classCardMsg.timeModel = tmpModel;
			}
		</script>
	</body>

</html>